:root {
    --mid-grey: rgb(220,220,220);
    --light-grey: rgb(240, 240, 240);
    --dark-text: rgb(0,0,0,0.67);
    --light-text: rgb(0,0,0,0.33);
    --mid-orange: rgb(245, 117, 42);
    --light-orange: rgb(255, 230, 209);
}

* {
    padding: 0px;
    margin: 0px;
    outline: 0px solid blue;
}

body {
    background-color: var(--light-grey);
    font-family: Arial, 'Segoe UI', Helvetica, sans-serif;
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.7rem;
    padding: 0px 8px;
}

.card {
    margin-top: 60px;
    width: 600px;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 0 0 12px -10px var(--light-text);
}

.textbox {
    padding: 6px 8px;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    margin-bottom: 8px;
    cursor: text;
}

.textbox:last-child {
    margin-bottom: 0px;
}

.textbox:focus {
    outline: 1px solid var(--mid-grey);
}

[contentEditable=true]:empty:after {
    content: attr(placeholder-text);
    color: var(--light-text);
}

.vague {
    background-color: var(--light-orange);
    outline: 2px solid var(--light-orange);
    position: relative;
}

.tooltip {
    opacity: 0%;
    visibility:hidden;
    width: 100px;
    background-color: var(--light-orange);
    text-align: center;
    padding:8px 10px;
    transition-duration: 0.3s;
    position:absolute;
    bottom: calc(100% + 16px);
    left: 50%;
    margin-left: -60px;
    cursor: default;
    color: var(--mid-orange);
    font-size: 0.85rem;
    box-shadow: 0 0 10px -8px var(--light-text);
    z-index:1;
}

.vague:hover .tooltip {
    visibility: visible;
    opacity: 100%;
    transition-duration: 0.3s;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: var(--light-orange) transparent transparent transparent;
  }

/*Other styling for demo page - Button*/

  .button {
    margin-top: 40px;
    padding:8px 32px;
    border: 1px solid var(--mid-grey);
    border-radius: 5px;
    color: var(--light-text);
    cursor: pointer;
  }

  .button:hover {
    color: var(--dark-text);
    border: 1px solid var(--mid-grey);
    background-color: rgb(255,255,255,0.20);
  }

  .button:active {
    color: var(--dark-text);
    transform: translateY(1px);
  }

  /*Other styling for demo page - Blacklist*/

  .blacklist {
    margin-top: 40px;
    width: 600px;
    padding: 0px 20px;
    color: var(--light-text);
    text-align: left;
  }

  h2 {
    font-size: 1.0rem;
    padding: 8px 8px;
  }

  .wordlist {
    color: var(--light-text);
    list-style-position: inside;
  }

  li {
    padding: 3px 10px;
  }
